{% extends 'base.html' %}

{% block content %}
<main>
    <nav>
        <li>
            <a href="{% url 'home' %}">Home page</a>
        </li>
    </nav>
    <h1>My Categories</h1>
    <table>
        <thead>
            <li>
                <a href="{% url 'create_category' %}">New category</a>
            </li>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>

        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}