{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Receipts</title>
</head>
<header>
    <nav>
        <ul>
            <li>
                <a></a>
                {% if user.is_authenticated %}
                hello, {{ user.username }}
                <a href="{% url 'logout' %}"> Logout</a>
                {% else %}
                <a href="{% url 'login' %}"> Login</a>
                <a href="{% url 'signup' %}"> Signup</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>

{% block content %}{% endblock content %}