{% extends 'base.html' %}
{% load static %}

{% block content %}

<body>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <li>
                    <a href="{% url 'create_receipt' %}">New Receipt</a>
                </li>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th><a href="{% url 'category_list' %}">Category</a></th>
                    <th><a href="{% url 'account_list' %}">Account</a></th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipt_list %}
                <tr>
                    <td>{{receipt.vendor}}</td>
                    <td>{{receipt.total}}</td>
                    <td>{{receipt.tax}}</td>
                    <td>{{receipt.date|date:"m/d/y"}}</td>
                    <td>{{receipt.category.name}}</td>
                    <td>{{receipt.account.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>
{% endblock content %}